<h1>Loader.io Basics</h1>
<ul>
  <li><%= link_to "Creating a Test", '/tests/creating.html', :relative => true %></li>
  <li><%= link_to "Verifying an App", '/tests/verifying.html', :relative => true %></li>
  <li><%= link_to "Test Types", '/tests/test-types.html', :relative => true %></li>
  <li><%= link_to "Expression Syntax", '/tests/expression-syntax.html', :relative => true %></li>
  <li><%= link_to "Payload Files", '/tests/payload-files.html', :relative => true %></li>
  <li><%= link_to "Results", '/tests/results.html', :relative => true %></li>
</ul>

