<h1>Loader.io Basics</h1>
<ul>
  <li><%= nav_link "Creating a Test", '/tests/creating.html', :relative => true %></li>
  <li><%= nav_link "Verifying an App", '/tests/verifying.html', :relative => true %></li>
  <li><%= nav_link "Test Types", '/tests/test-types.html', :relative => true %></li>
  <li><%= nav_link "Expression Syntax", '/tests/expression-syntax.html', :relative => true %></li>
  <li><%= nav_link "Payload Files", '/tests/payload-files.html', :relative => true %></li>
  <li><%= nav_link "Results", '/tests/results.html', :relative => true %></li>
  <li><%= nav_link "FAQ", '/tests/faq.html', :relative => true %></li>
</ul>

<h1>Integrations</h1>
<ul>
  <li><%= nav_link "Webhook", '/integrations/webhook.html', :relative => true %></li>
  <li><%= nav_link "TravisCI", '/integrations/travis-ci.html', :relative => true %></li>
  <li><%= nav_link "CircleCI", '/integrations/circle-ci.html', :relative => true %></li>
  <li><%= nav_link "Jenkins", '/integrations/jenkins.html', :relative => true %></li>
  <li><%= nav_link "TeamCity", '/integrations/teamcity.html', :relative => true %></li>
  <li><%= nav_link "GitHub", '/integrations/github.html', :relative => true %></li>
</ul>

<h1>Loader.io API</h1>
<ul>
  <li><%= nav_link "Introduction", '/api/intro.html', :relative => true %></li>
  <li><%= nav_link "Application", '/api/apps.html', :relative => true %></li>
    <%= partial 'layouts/api/apps' if api_link?('apps') %>
  <li><%= nav_link "Tests", '/api/tests.html', :relative => true %></li>
    <%= partial 'layouts/api/tests' if api_link?('tests') && !api_link?('results') %>
  <li><%= nav_link "Results", '/api/results.html', :relative => true %></li>
    <%= partial 'layouts/api/results' if api_link?('results') %>
  <li><%= nav_link "Servers", '/api/servers.html', :relative => true %></li>
    <%= partial 'layouts/api/servers' if api_link?('servers') %>
</ul>
