<h1>Loader.io Basics</h1>
<ul>
  <li><%= link_to "Creating a test", '/tests/creating.html' %></li>
  <li><%= link_to "Test Types", '/tests/test-types.html' %></li>
  <li><%= link_to "Expression Syntax", '/tests/expression-syntax.html' %></li>
  <li><%= link_to "Payload Files", '/tests/payload-files.html' %></li>
  <li><%= link_to "Interpretting Results", '/tests/results.html' %></li>
</ul>
