<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <%= meta_redirect_to_support %>
        <title><%= current_page.data.title || "Loader.io Documentation" %></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">
        <%= stylesheet_link_tag 'theme' %>
        <script src="/js/marketing.js"></script>
    </head>
    <body>
      <div class="main-site-header site-inner-content cf">
        <a href="https://loader.io"><img alt="Loader.io" class="logo" src="https://labs.sendgrid.com/wp-content/themes/sendgrid-labs/images/loader_logo.svg"></a>
        <div class="main-site-nav">
          <a class="" href="http://loaderio-web.dev:3000/pricing" id="plans-and-pricing">Plans &amp; Pricing</a>
          <a href="http://support.loader.io" target="_blank">Help</a>
          <a href="http://docs.loader.io/api/intro.html" target="_blank">API Docs</a>
          <a href="https://labs.sendgrid.com?utm_source=loader.io&utm_medium=product-page&utm_campaign=L3-LABS-11010&utm_content=L3-LABS-11010a" class="main-site-nav-link main-site-nav-link-outside">SendGrid Labs</a>
        </div>
        <div class="app-sign-in">
            <a class="button-sign-in" href="http://loaderio-web.dev:3000/signin">Sign in</a>
        </div>
        <div class="mobile-menu js-main-site-nav">
          <div class="hamburger"></div>Menu
        </div>
      </div>
      <header class="hero content-hero">
        <h1 class="entry-title">API Docs</h1>
      </header>
      <div class="row cf" id="content">
        <div class="col docs">
          <%= yield %>
        </div>
        <div class="col navigation">
          <%= partial 'layouts/nav' %>
        </div>
      </div>
      <div class="site-footer">
        <div class="site-inner-content site-section">
          <div class="social-links">
            <a href="hhttps://www.facebook.com/loaderIo" class="social-link icon-facebook"></a>
            <a href="https://twitter.com/loaderio" class="social-link icon-twitter"></a>
            <a href="https://loader.io/contact-us" class="social-link icon-mail"></a>
          </div>
          <div class="footer-nav">
            <a href="https://loader.io/blog" class="footer-nav-link">Blog</a>
            <a href="https://loader.io/contact-us" class="footer-nav-link">Contact Us</a>
          </div>
          <div class="copyright site-section">©&nbsp;2016 SendGrid, Inc.</div>
        </div>
        <div class="bottom-banner">
          <a href="https://labs.sendgrid.com/get-involved/?utm_source=loader.io&utm_medium=product-page&utm_campaign=L3-LABS-11012&utm_content=L3-LABS-11012a"><img width="415" height="135" src="https://assets1.labs.sendgrid.com/mkt/labs_ldr_bottom_banner@2x.png"></a>
        </div>
      </div>
      <%= partial 'layouts/kissmetrics' %>
      <%= partial 'layouts/tagmanager' %>
      <script src="https://embedcurl.com/embedcurl.js"></script>
    </body>
</html>
