<ul class="subnav">
  <li><%= link_to "GET /v2/apps", '/api/v2/get/apps.html' %></li>
  <li><%= link_to "POST /v2/apps", '/api/v2/post/apps.html' %></li>
  <li><%= link_to "GET /v2/apps/:app_id", '/api/v2/get/apps/app_id.html' %></li>
  <li><%= link_to "POST /v2/apps/:app_id/verify", '/api/v2/post/apps/:app_id/verify.html' %></li>
  <li><%= link_to "DELETE /v2/apps/:app_id", '/api/v2/delete/apps/app_id.html' %></li>
</ul>
