<ul class="subnav">
  <li><%= nav_link "GET /v2/tests", '/api/v2/get/tests.html' %></li>
  <li><%= nav_link "POST /v2/tests", '/api/v2/post/tests.html' %></li>
  <li><%= nav_link "GET /v2/tests/:test_id", '/api/v2/get/tests/test_id.html' %></li>
  <li><%= nav_link "PUT /v2/tests/:test_id/run", '/api/v2/put/tests/:test_id/run.html' %></li>
  <li><%= nav_link "PUT /v2/tests/:test_id/stop", '/api/v2/put/tests/:test_id/stop.html' %></li>
</ul>
